/.cask
/.hive-maint
/custom.el
/elpa
/var
auto-save-list/
history
init.elc
places
transient/
*.elc
*-autoloads.el
dir
.lsp-session-v1
projectile.cache
projectile-bookmarks*
custom.el*
recentf*
smex-items