/.cask
/.hive-maint
/custom.el
/elpa
/var
eshell
transient
auto-save-list/
history
places
projectile-bookmarks.eld
projectile.cache
recentf
smex-items
*.elc
*-autoloads.el
dir
.lsp*
.org-id-locations
session*
README.el
